.settings {
    flex: 0 1 20%;
    background-color: #282c34;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
}

.formGroup {
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
}

.formGroup {
    label {
        display: block;
        margin-bottom: 8px;
        color: #fff;
    }

    select {
        width: 100%;
        padding: 8px;
        border-radius: 4px;
        border: none;
    }
}

.submitButton {
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    background-color: #f4534b;
    color: #282c34;
    font-weight: 600;
    cursor: pointer;
    margin-top: 20px;
}

.submitButton:hover {
    background-color: #f2433a;
}

.submitButton:active {
    background-color: #ed6b64;
}

